.embed-player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

iframe {
    max-width: calc(100vw - 10px);
}

p {
    font-family: sans-serif;
}

p>span {
    color: #1432e6;
}

p:nth-child(2).supported {
    color: green;
    font-family: monospace;
}
p:nth-child(2).unsupported {
    color: red;
    font-family: monospace;
}

P:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playable-link {
    width: 80vw;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}